[submodule "sunnysideup/themes/ananke"]
	path = sunnysideup/themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/scroll"]
	path = themes/scroll
	url = https://github.com/zjedi/hugo-scroll
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
